@font-face {
	font-family: helioscond;
	font-display: swap;
	src: url("../fonts/helioscond_bold.woff2") format("woff2"), url("../fonts/helioscond_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
