//====================================================================================================
.header {
	// .header__container
	&__container {
		padding-top: 16px;
		padding-bottom: 8px;
	}
	// .header__top
	&__top {
	}
	// .header__center
	&__center {
	}
	// .header__bottom
	&__bottom {
	}
}
.top-header {
	display: flex;
	gap: 29px;
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	// .top-header__logo
	&__logo {
		background: #ffcc00;
		flex: 0 1 210px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .top-header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .top-header__content
	&__content {
	}
}
.menu-topheader {
	// .menu-topheader__body
	&__body {
		display: flex;
		gap: 15px;
		padding-bottom: 8px;
		border-bottom: 1px solid #d7d7d7;
	}
	// .menu-topheader__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .menu-topheader__list
	&__list {
		display: flex;
		align-items: center;
		gap: 23px;
	}
	// .menu-topheader__item
	&__item {
	}
	// .menu-topheader__link
	&__link {
		line-height: math.div(14, 12);
		letter-spacing: -0.01em;
	}
	// .menu-topheader__authorization
	&__authorization {
		display: flex;
		align-items: center;
		line-height: math.div(14, 12);
		letter-spacing: -0.01em;
		gap: 14px;
	}
	// .menu-topheader__enter
	&__enter {
	}
	// .menu-topheader__separator
	&__separator {
	}
	// .menu-topheader__registration
	&__registration {
	}
	// .menu-topheader__content
	&__content {
	}
}
.content-topheader {
	display: flex;
	padding-top: 22px;
	// .content-topheader__baner
	&__baner {
		background: #e2e2e2;
		min-width: 253px;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	// .content-topheader__main
	&__main {
	}
	// .content-topheader__images
	&__images {
		display: flex;
		gap: 15px;
		flex: 1 1 auto;
	}
	// .content-topheader__time
	&__time {
	}
	// .content-topheader__timework
	&__timework {
		line-height: math.div(14, 12);
		letter-spacing: -0.01em;
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	// .content-topheader__tel
	&__tel {
		font-weight: 700;
		font-size: 25px;
		line-height: math.div(29, 25);
		letter-spacing: -0.02em;
	}
}
.main-topheader {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	&:not(:last-child) {
		margin-right: 30px;
	}
	// .main-topheader__cart
	&__cart {
		font-size: 14px;
		line-height: math.div(16, 14);
		letter-spacing: -0.01em;
		padding-left: 30px;
		display: flex;
		align-items: center;
		position: relative;
		text-decoration: underline !important;

		&::before {
			content: "";
			background: url("@img/header/cart.svg") center no-repeat;
			width: 100%;
			height: 100%;
			width: 19px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	// .main-topheader__favorite
	&__favorite {
		line-height: math.div(14, 12);
		letter-spacing: -0.01em;
		text-decoration: underline !important;
		padding-left: 30px;

		display: flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			background: url("@img/header/favorite.svg") center no-repeat;
			width: 100%;
			height: 100%;
			width: 19px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	// .main-topheader__comparison
	&__comparison {
		line-height: math.div(14, 12);
		letter-spacing: -0.025em;
		text-decoration: underline !important;
		padding-left: 30px;
		display: flex;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			background: url("@img/header/scales.svg") center no-repeat;
			width: 100%;
			height: 100%;
			width: 18px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}
.center-header {
	display: flex;
	justify-content: space-between;
	&:not(:last-child) {
		margin-bottom: 26px;
	}
	// .center-header__title
	&__title {
		font-family: "helioscond";
		font-weight: 700;
		font-size: 13px;
		line-height: math.div(15, 13);
		text-transform: uppercase;
		color: #000000;
		flex: 0 1 210px;
		text-align: center;
	}
	// .center-header__blockcity
	&__blockcity {
		display: flex;
		flex: 0 1 184px;
		justify-content: space-between;
		line-height: math.div(14, 12);
		letter-spacing: -0.01em;
	}
	// .center-header__city
	&__city {
	}
	// .center-header__change
	&__change {
		position: relative;
		&::before {
			content: "";
			background: url("@img/header/triangle.svg") center no-repeat;
			position: absolute;
			top: 50%;
			left: -15px;
			transform: translateY(-64%);
			width: 7px;
			height: 7px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -2px;
			border-bottom: 1px dashed $mainColor;
		}
	}
}
.bottom-header {
	// .bottom-header__list
	&__list {
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		line-height: math.div(16, 14);
		color: #ffffff;
		background: #252525;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
		justify-content: space-between;
		gap: 36px;
		border-radius: 10px;
		min-height: 34px;
		overflow: hidden;
	}
	// .bottom-header__item
	&__item {
		transition: all 0.3s ease 0s;
		&:hover {
			color: #000;
			background: #ffcc00;
		}
		&:nth-child(1) {
			background: #ffcc00;
			min-height: 34px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:last-child {
			text-transform: uppercase;
			background: #ffcc00;
			min-height: 34px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000;
		}
	}
	// .bottom-header__link
	&__link {
		padding: 5px;
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
